{% if not static is defined %}
    {{ forms.lightswitchField({
        label: 'Post to {p}' | t({ p: oauthProvider.name }),
        instructions: 'Do you wish to post this entry to {p}?' | t({ p: oauthProvider.name }),
        id: 'autoPost',
        name: 'autoPost',
        on: autoPost,
    }) }}
{% endif %}

{% if providerSettings.showVisibility is defined and providerSettings.showVisibility %}
    {{ forms.selectField({
        label: 'Visibility' | t,
        instructions: 'Select how this post is shared on {p}. Anyone will be visible to all members, and Connections Only will only be visible to your connections.' | t({ p: oauthProvider.name }),
        id: 'showVisibility',
        name: 'showVisibility',
        options: [
            { label: 'Anyone', value: 'anyone' },
            { label: 'Connections Only', value: 'connections-only' },
        ],
        value: providerSettings.visibility,
        disabled: static is defined,
        class: static is defined ? 'disabled',
    }) }}
{% endif %}

{% if providerSettings.showTitle is defined and providerSettings.showTitle %}
    {{ forms.textField({
        label: 'Title' | t,
        instructions: 'Enter the Title to appear on this post. This is the bold text shown at the top of the post. May include any Twig variables for fields in this entry - eg {title}, {customField}, etc.' | t,
        id: 'title',
        name: 'title',
        value: providerSettings.title,
        disabled: static is defined,
        class: static is defined ? 'disabled',
    }) }}
{% endif %}

{% if providerSettings.showUrl is defined and providerSettings.showUrl %}
    {{ forms.textField({
        label: 'URL' | t,
        instructions: 'Enter the URL to appear on this post. This is a small link at the bottom of your post. May include any Twig variables for fields in this entry - eg {url}, etc.' | t,
        id: 'url',
        name: 'url',
        value: providerSettings.url,
        disabled: static is defined,
        class: static is defined ? 'disabled',
    }) }}
{% endif %}

{% if providerSettings.showMessage is defined and providerSettings.showMessage %}
    {{ forms.textareaField({
        label: 'Message' | t,
        instructions: 'Text for your post. May include any Twig variables for fields in this entry - eg {title}, {customField}, etc.' | t,
        placeholder: 'Enter text here to be displayed as your post to social media.' | t,
        id: 'message',
        name: 'message',
        rows: 4,
        value: providerSettings.message,
        showCharsLeft: (oauthProvider.handle == 'twitter'),
        maxlength: (oauthProvider.handle == 'twitter') ? '140' : '',
        disabled: static is defined,
        class: static is defined ? 'disabled',
    }) }}
{% endif %}

{% if providerSettings.imageField is defined %}
    {% set imageField = providerSettings.imageField | replace({ '{': '' , '}': '' }) %}
{% endif %}

{% if not static is defined %}
    {% if providerSettings.showImageField is defined and providerSettings.showImageField %}
        <div class="providerSettings-imageField">
            {{ forms.selectField({
                label: 'Image for Post' | t,
                instructions: 'Select an image for this post. If not specified, {p} will grab the first image on your page.' | t({ p: oauthProvider.name }),
                id: 'imageField',
                name: 'imageField',
                options: craft.socialPoster.getAssetFieldOptions(context.entry),
                value: imageField,
                disabled: static is defined,
                class: static is defined ? 'disabled',
            }) }}
        </div>
    {% endif %}
{% endif %}

