// ==========================================================================

// Social Poster for Craft CMS
// Author: Verbb - https://verbb.io/

// ==========================================================================

@import "base";


// ==========================================================================
// Providers
// ==========================================================================

.provider .thumb {
    display: inline-block;
    margin-right: 7px;
}

.provider .thumb img {
    height: 20px;
    vertical-align: middle;
}

.provider .label {
    display: inline-block;
    vertical-align: middle;
}


// ==========================================================================
// Posts Edit
// ==========================================================================

.codeblock {
    padding: 0.75rem 1rem;
    margin-top: 0.75rem;
    background-color: #f1f5f8;
    border: 1px solid #cfdde7;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 11px;
    color: #556174;
    border-radius: 3px;
    line-height: 1.7;
    tab-size: 4;
    hyphens: none;
    white-space: pre-wrap;
}



// ==========================================================================
// Settings checkbox-in-field-heading
// ==========================================================================

.sp-field-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.sp-field-heading-checkbox .lightswitch-field {
    display: flex;
    align-items: center;
}

.sp-field-heading-checkbox .lightswitch-field .heading {
    margin: 0 7px 0 0;
}

.sp-field-heading-checkbox .lightswitch-field label {
    font-size: 11px;
    font-weight: normal;
    color: #8f98a3;
}

// ==========================================================================
// Settings Additions (for Facebook)
// ==========================================================================

#providerSettings-facebook-pageId-field,
#providerSettings-facebook-groupId-field {
    display: none;
}



// ==========================================================================
// Entry Sidebar
// ==========================================================================

.social-poster-pane {
    margin: 0;
    border-radius: 0;
}

.social-poster-tabs {
    position: relative;
    z-index: 2;
    min-height: 40px;
    overflow: hidden;
    margin: -4px 0 -10px;
    padding: 5px 0 10px;
    box-sizing: border-box;

    &:after {
        content: '.';
        font-size: 0;
        display: block;
        position: absolute;
        pointer-events: none;
        bottom: 0;
        left: 0;
        width: calc(100% - 1px);
        height: 10px;
        background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
        box-shadow: 0 -1px 0 #e3e5e8;
    }
}

.social-poster-tabs ul {
    display: flex;
    flex-direction: row;
    width: calc(100% - 1px);
}

.social-poster-tabs ul li {
    max-width: 100%;
}

.social-poster-tabs ul li a {
    position: relative;
    display: block;
    padding: 8px 15px;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    font-size: 13px;

    &:hover {
        text-decoration: none;
    }

    &:after {
        content: '.';
        font-size: 0;
        display: block;
        position: absolute;
        top: 0;
        width: 10px;
        height: calc(100% - 1px);
        right: 0;
        background: linear-gradient(to right, rgba(235, 237, 239, 0), #f1f5f8 17px);
    }

    &.sel {
        color: #29323d;
        background: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: -4px -1px 0;
        cursor: default;
        background-clip: padding-box;
        border-radius: 2px 2px 0 0;
        border: solid rgba(0, 0, 20, 0.1);
        border-width: 1px 1px 0;
        z-index: 1;
    }

    &:not(.sel) {
        color: #576575;
    }

    &:not(.sel):hover {
        color: #0d78f2;
    }

    &.sel:after {
        background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff 17px);
    }
}

body.ltr .social-poster-tabs .status {
    width: 7px;
    height: 7px;
    margin-right: 5px;
}

.social-poster-tab {
    font-size: 13px;
}

.social-poster-pane .field > .info-item {
    line-height: 1.4;
    color: #8f98a3;
}

.social-poster-pane .field > .info-item,
.social-poster-pane .field > .error {
    margin: 4px 0 0;
}

body.ltr .social-poster-pane .field > .info-item:before,
body.ltr .social-poster-pane .field > .error:before {
    margin: -2px 2px 0 0;
}

.social-poster-pane .field > .info-item:before,
.social-poster-pane .field > .error:before {
    font-family: 'Craft';
    speak: none;
    font-feature-settings: "liga", "dlig";
    text-rendering: optimizeLegibility;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    direction: ltr;
    display: inline-block;
    text-align: center;
    font-style: normal;
    vertical-align: middle;
    word-wrap: normal !important;
}

.social-poster-pane .field > .error:before {
    content: 'alert';
}

.social-poster-pane .field > .info-item:before {
    content: 'info';
}
