{% extends 'social-poster/_layouts' %}
{% import '_includes/forms' as forms %}
{% import 'social-poster/_macros' as macros %}

{% set crumbs = [
    { label: craft.socialPoster.getPluginName() | t('social-poster'), url: url('social-poster') },
    { label: 'Settings' | t('app'), url: url('social-poster/settings') }
] %}

{% set fullPageForm = true %}
{% set selectedTab = 'settings' %}
{% set selectedSubnavItem = 'settings' %}

{% block blockContent %}

<input type="hidden" name="action" value="plugins/save-plugin-settings">
<input type="hidden" name="pluginHandle" value="social-poster">

{% namespace 'settings' %}

{% set sections = [] %}
{% for section in craft.app.sections.allSections %}
    {% set sections = [{ value: section.uid, label: section.name | e }] | merge(sections) %}
{% endfor %}

{{ forms.textField({
    label: 'Plugin Name' | t('app'),
    instructions: 'Plugin name for the end user.' | t('social-poster'),
    id: 'pluginName',
    name: 'pluginName',
    value: settings.pluginName,
    first: true,
    autofocus: true,
    warning: macros.configWarning('pluginName', 'social-poster'),
}) }}

{{ forms.lightswitchField({
    label: 'Enable CP Section' | t('social-poster'),
    instructions: 'Whether to enable Social Poster in the main sidebar navigation.' | t('social-poster'),
    id: 'hasCpSection',
    name: 'hasCpSection',
    on: settings.hasCpSection,
    errors: settings.getErrors('hasCpSection'),
    warning: macros.configWarning('hasCpSection', 'social-poster'),
}) }}

{{ forms.checkboxSelectField({
    label: 'Enabled Sections' | t('social-poster'),
    instructions: 'Select which sections you would like Social Poster to be enabled for.' | t('social-poster'),
    id: 'enabledSections',
    name: 'enabledSections',
    values: settings.enabledSections,
    errors: settings.getErrors('enabledSections'),
    options: sections,
    showAllOption: true,
    warning: macros.configWarning('enabledSections', 'social-poster'),
}) }}

{% endnamespace %}

{% endblock %}