{% extends 'social-poster/_layouts/settings' %}

{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% requireAdmin %}

{% set fullPageForm = true %}
{% set selectedTab = 'general' %}
{% set pageTitle = 'General Settings' | t('social-poster') %}
{% set pageAction = 'plugins/save-plugin-settings' %}
{% set pageUrl = 'social-poster/settings' %}

{% block settingsContent %}
{% set sections = [] %}
{% for section in craft.app.entries.allSections %}
    {% set sections = [{ value: section.uid, label: section.name | e }] | merge(sections) %}
{% endfor %}

{{ forms.textField({
    label: 'Plugin Name' | t('app'),
    instructions: 'Plugin name for the end user.' | t('social-poster'),
    id: 'pluginName',
    name: 'pluginName',
    value: settings.pluginName,
    autofocus: true,
    required: true,
    errors: settings.getErrors('pluginName'),
    warning: macros.configWarning('pluginName', 'social-poster'),
}) }}

{{ forms.lightswitchField({
    label: 'Enable CP Section' | t('social-poster'),
    instructions: 'Whether to enable Social Poster in the main sidebar navigation.' | t('social-poster'),
    id: 'hasCpSection',
    name: 'hasCpSection',
    on: settings.hasCpSection,
    errors: settings.getErrors('hasCpSection'),
    warning: macros.configWarning('hasCpSection', 'social-poster'),
}) }}

{{ forms.checkboxSelectField({
    label: 'Enabled Sections' | t('social-poster'),
    instructions: 'Select which sections you would like Social Poster to be enabled for.' | t('social-poster'),
    id: 'enabledSections',
    name: 'enabledSections',
    values: settings.enabledSections,
    errors: settings.getErrors('enabledSections'),
    options: sections,
    showAllOption: true,
    warning: macros.configWarning('enabledSections', 'social-poster'),
}) }}

{{ forms.autosuggestField({
    label: 'Redirect URI Override' | t('social-poster'),
    instructions: 'Set the OAuth Redirect URI, if you need to change it from the default.' | t('social-poster'),
    id: 'redirectUri',
    name: 'redirectUri',
    suggestEnvVars: true,
    value: settings.redirectUri,
    errors: settings.getErrors('redirectUri'),
    warning: macros.configWarning('redirectUri', 'social-poster'),
}) }}
{% endblock %}
