{% import '_includes/forms' as forms %}
{% import 'social-poster/_includes/settings-field' as settingsField %}

{% set settings = provider.account.settings %}

{% set defaultMessage = 'A new post "{title}" has been published on our website via {url}.' | t('social-poster') %}

{{ forms.selectField({
    label: '{p} Post Type' | t('social-poster', { p: provider.name }),
    instructions: 'Select where you‘d like this post to be posted to. Can be a {p} Page or {p} Group.' | t('social-poster', { p: provider.name }),
    id: 'endpoint',
    name: 'endpoint',
    options: [
        { label: 'Group' | t('social-poster'), value: 'group' },
        { label: 'Page' | t('social-poster'), value: 'page' },
    ],
    value: settings.endpoint | default('page'),
    required: true,
}) }}

{{ forms.textField({
    label: '{p} Group ID' | t('social-poster', { p: provider.name }),
    instructions: 'Your {p} Group ID (the part after `https://www.facebook.com/groups/`).' | t('social-poster', { p: provider.name }),
    id: 'groupId',
    name: 'groupId',
    value: settings.groupId | default(''),
}) }}

{{ forms.textField({
    label: '{p} Page ID' | t('social-poster', { p: provider.name }),
    instructions: "Click on the 'About' tab on your {p} page, then click on 'Page Info'. Near the bottom will show your '{p} Page ID'." | t('social-poster', { p: provider.name }),
    id: 'pageId',
    name: 'pageId',
    value: settings.pageId | default(''),
}) }}

{{ settingsField.field({
        label: 'Title' | t('social-poster'),
        instructions: 'Enter the Title to appear on this post. This is the bold text shown at the top of the post. May include any Twig variables for fields in this entry - eg {title}, {customField}, etc.' | t('social-poster'),
        id: 'showTitle',
        name: 'showTitle',
        value: true,
        checked: settings.showTitle ?? true,
    }, 
    forms.textField({
        id: 'title',
        name: 'title',
        value: settings.title | default('{title}'),
    })
) }}

{{ settingsField.field({
        label: 'URL' | t('social-poster'),
        instructions: 'Enter the URL to appear on this post. This is a small link at the bottom of your post. May include any Twig variables for fields in this entry - eg {url}, etc.' | t('social-poster'),
        id: 'showUrl',
        name: 'showUrl',
        value: true,
        checked: settings.showUrl ?? true,
    }, 
    forms.textField({
        id: 'url',
        name: 'url',
        value: settings.defaultUrl | default('{url}'),
    })
) }}

{{ settingsField.field({
        label: 'Message' | t('social-poster'),
        instructions: 'Text for your post. May include any Twig variables for fields in this entry - eg {title}, {customField}, etc.' | t('social-poster'),
        id: 'showMessage',
        name: 'showMessage',
        value: true,
        checked: settings.showMessage ?? true,
    }, 
    forms.textareaField({
        id: 'message',
        name: 'message',
        rows: 4,
        value: settings.message | default(defaultMessage),
    })
) }}

{{ settingsField.field({
        label: 'Image Field for Post' | t('social-poster'),
        instructions: 'Enter the field handle to be used to fetch the image for this post - eg {featuredImage}' | t('social-poster'),
        id: 'showImageField',
        name: 'showImageField',
        value: true,
        checked: settings.showImageField ?? true,
    }, 
    forms.selectField({
        id: 'imageField',
        name: 'imageField',
        options: assetFieldOptions,
        value: settings.imageField | default(''),
    })
) }}

{% js %}

// Helper for Facebook Post Type changed showing other fields
$(document).on('change', '#providerSettings-facebook-endpoint', function(e) {
    var val = $(this).val();

    $('#providerSettings-facebook-groupId-field').hide();
    $('#providerSettings-facebook-pageId-field').hide();

    if (val == 'group') {
        $('#providerSettings-facebook-groupId-field').show();
    }

    if (val == 'page') {
        $('#providerSettings-facebook-pageId-field').show();
    }
});

$('#providerSettings-facebook-endpoint').trigger('change');

{% endjs %}