{{ forms.lightswitchField({
    label: 'Post to {p}' | t({ p: oauthProvider.name }),
    instructions: 'Do you wish to post this entry to {p}?' | t({ p: oauthProvider.name }),
    id: 'autoPost',
    name: 'autoPost',
    on: autoPost,
}) }}

{% if providerSettings.showMessage is defined and providerSettings.showMessage %}
    {{ forms.textareaField({
        label: 'Message' | t,
        instructions: 'Text for your post. May include any Twig variables for fields in this entry - eg {title}, {customField}, etc.' | t,
        placeholder: 'Enter text here to be displayed as your post to social media.' | t,
        id: 'message',
        name: 'message',
        rows: 4,
        value: providerSettings.message,
        showCharsLeft: (oauthProvider.handle == 'twitter'),
        maxlength: (oauthProvider.handle == 'twitter') ? '140' : '',
    }) }}
{% endif %}