{% set defaultMessage = "A new post \"{title}\" has been published on our website via {url}." | t %}

{% namespace 'providerSettings[' ~ provider.handle ~ ']' %}

{{ forms.lightswitchField({
    label: 'Enabled' | t,
    instructions: 'Should this account be enabled?' | t,
    id: 'enabled',
    name: 'enabled',
    on: providerSettings.enabled | default(false),
}) }}

{{ forms.lightswitchField({
    label: 'Auto-post to {p}' | t({ p: oauthProvider.name }),
    instructions: 'Should entries be set to post to {p} by default?' | t({ p: oauthProvider.name }),
    id: 'autoPost',
    name: 'autoPost',
    on: providerSettings.autoPost | default(false),
}) }}

{{ settingsField.field({
        label: 'Message' | t,
        instructions: 'Text for your post. May include any Twig variables for fields in this entry - eg {title}, {customField}, etc.' | t,
        id: 'showMessage',
        name: 'showMessage',
        value: true,
        checked: (providerSettings.showMessage is defined) ? providerSettings.showMessage : true,
    }, 
    forms.textareaField({
        id: 'message',
        name: 'message',
        rows: 4,
        value: providerSettings.message | default(defaultMessage),
    })
) }}

{% endnamespace %}