{% set defaultMessage = "A new post \"{title}\" has been published on our website via {url}." | t %}

{% namespace 'providerSettings[' ~ provider.handle ~ ']' %}

{{ forms.lightswitchField({
    label: 'Enabled' | t,
    instructions: 'Should this account be enabled?' | t,
    id: 'enabled',
    name: 'enabled',
    on: providerSettings.enabled | default(false),
}) }}

{{ forms.lightswitchField({
    label: 'Auto-post to {p}' | t({ p: oauthProvider.name }),
    instructions: 'Should entries be set to post to {p} by default?' | t({ p: oauthProvider.name }),
    id: 'autoPost',
    name: 'autoPost',
    on: providerSettings.autoPost | default(false),
}) }}

{{ settingsField.field({
        label: 'Page or Timeline' | t,
        instructions: 'Select where you\'d like this post to be posted to. Either a Page, or a Personal Timeline.' | t,
        id: 'showEndpoint',
        name: 'showEndpoint',
        value: true,
        checked: (providerSettings.showEndpoint is defined) ? providerSettings.showEndpoint : false,
    }, 
    forms.selectField({
        id: 'endpoint',
        name: 'endpoint',
        options: [
            { label: 'Timeline', value: 'me' },
            { label: 'Page', value: 'page' },
        ],
        value: providerSettings.endpoint | default(''),
    })
) }}

{{ settingsField.field({
        label: 'Title' | t,
        instructions: 'Enter the Title to appear on this post. This is the bold text shown at the top of the post. May include any Twig variables for fields in this entry - eg {title}, {customField}, etc.' | t,
        id: 'showTitle',
        name: 'showTitle',
        value: true,
        checked: (providerSettings.showTitle is defined) ? providerSettings.showTitle : false,
    }, 
    forms.textField({
        id: 'title',
        name: 'title',
        value: providerSettings.title | default('{title}'),
    })
) }}

{{ settingsField.field({
        label: 'URL' | t,
        instructions: 'Enter the URL to appear on this post. This is a small link at the bottom of your post. May include any Twig variables for fields in this entry - eg {url}, etc.' | t,
        id: 'showUrl',
        name: 'showUrl',
        value: true,
        checked: (providerSettings.showUrl is defined) ? providerSettings.showUrl : false,
    }, 
    forms.textField({
        id: 'url',
        name: 'url',
        value: providerSettings.defaultUrl | default('{url}'),
    })
) }}

{{ settingsField.field({
        label: 'Message' | t,
        instructions: 'Text for your post. May include any Twig variables for fields in this entry - eg {title}, {customField}, etc.' | t,
        id: 'showMessage',
        name: 'showMessage',
        value: true,
        checked: (providerSettings.showMessage is defined) ? providerSettings.showMessage : true,
    }, 
    forms.textareaField({
        id: 'message',
        name: 'message',
        rows: 4,
        value: providerSettings.message | default(defaultMessage),
    })
) }}

{{ settingsField.field({
        label: 'Image Field for Post' | t,
        instructions: 'Enter the field handle to be used to fetch the image for this post - eg {featuredImage}' | t,
        id: 'showImageField',
        name: 'showImageField',
        value: true,
        checked: (providerSettings.showImageField is defined) ? providerSettings.showImageField : true,
    }, 
    forms.selectField({
        id: 'imageField',
        name: 'imageField',
        options: craft.socialPoster.getAssetFieldOptions(),
        value: providerSettings.imageField | default(''),
    })
) }}

{% endnamespace %}







{#{{ forms.field({
    label: 'Image for Post' | t,
    instructions: 'Select an image for this post. If not specified, {p} will grab the first image on your page.' | t({ p: oauthProvider.name }),
},

forms.elementSelect({
    id: 'image',
    name: 'image',
    elementType: craft.elements.getElementType('Asset'),
    jsClass: 'Craft.AssetSelectInput',
    addButtonLabel: 'Select Image',
    limit: 1,
    criteria: { "localeEnabled" : null },
    value: providerSettings.image | default(''),
})) }}#}