{% macro field(config, input) %}
    {% import "_includes/forms" as forms %}

    <div class="field" id="">
        <div class="heading">
            <label for="{{ config.id }}">
                <span class="sp-field-heading-label">{{ config.label }}</span>

                <span class="sp-field-heading-checkbox">
                    {{ forms.checkboxField({
                        label: 'Show in widget?' | t,
                        checked: config.checked,
                        name: config.name,
                    }) }}
                </span>
            </label>

            <div class="instructions">
                {{ config.instructions }}
            </div>
        </div>

        <div class="input ltr">
            {{ forms.field([], input) }}
        </div>
    </div>

{% endmacro %}





