{% extends "socialposter/_layouts" %}

{% set crumbs = [
    { label: "Social Poster" | t, url: url('socialposter') },
    { label: "Settings" | t, url: url('socialposter/settings') },
] %}

{% set selectedTab = 'settings' %}

{% set fullPageForm = true %}

{% block blockContent %}

<input type="hidden" name="action" value="plugins/savePluginSettings">
<input type="hidden" name="pluginClass" value="socialPoster">

{% namespace 'settings' %}

{% set sections = [] %}
{% for section in craft.sections.getAllSections() %}
    {% set sections = [{ value: section.id, label: section.name }] | merge(sections) %}
{% endfor %}

{{ forms.checkboxSelectField({
    label: 'Enabled Sections' | t,
    instructions: 'Select which sections you would like Social Poster to be enabled for.' | t,
    id: 'enabledSections',
    name: 'enabledSections',
    values: settings.enabledSections,
    errors: settings.getErrors('enabledSections'),
    options: sections,
    first: true,
}) }}

{% endnamespace %}

{% endblock %}