{% extends "socialposter/_layouts" %}

{% set crumbs = [
    { label: "Social Poster" | t, url: url('socialposter') },
    { label: "Posts" | t, url: url('socialposter/posts') },
] %}

{% set tabs = null %}
{% set selectedTab = 'posts' %}

{% set oauthProvider = provider.oauthProvider %}
{% set title = oauthProvider.name ~ ' post on ' ~ post.dateCreated | date %}

{% block main %}

    <div class="grid first">
        <div class="item" data-position="left" data-colspan="2">
            <div class="pane">

                {% include 'socialposter/_providers/' ~ post.handle ~ '/input' with { static: true, providerSettings: post.providerSettings } %}

                <hr>

                {% if post.url %}
                    <h5>{{ "Provider Post URL" | t }}</h5>
                    <a class="go" href="{{ post.url }}" target="_blank">{{ post.url }}</a>

                    <hr>
                {% endif %}

                <h5>{{ "Provider API Response" | t }}</h5>

                <div class="pane codeblock lightpane">
                    <p class="code">{{ post.response | json_encode }}</p>
                </div>

                <h5>{{ "Provider Post Response" | t }}</h5>

                <div class="pane codeblock lightpane">
                    <p class="code">{{ post.data | json_encode }}</p>
                </div>
            </div>
        </div>

        <div class="item" data-position="right" data-colspan="1">
            <div class="pane">
                <h5>{{ "Element" | t }}</h5>
                {% if post.element %}
                    <p><a class="go" href="{{ post.element.cpEditUrl }}">{{ post.element.title }}</a></p>
                {% endif %}

                <hr>

                <h5>{{ "Status" | t }}</h5>
                {% if post.success %}
                    <span class="status on"></span> {{ post.response.reasonPhrase | default('Success') }}
                {% else %}
                    <span class="status off"></span> {{ post.response.reasonPhrase | default('Error') }}
                {% endif %}

                <hr>

                <h5>{{ "Provider" | t }}</h5>

                <div class="provider-block">
                    <div class="provider-infos">
                        {% if provider.iconUrl %}
                            <div class="icon">
                                <img src="{{ provider.iconUrl }}" height="20" />
                            </div>
                        {% endif %}

                        <div class="name">
                            {{ provider.name }}
                        </div>
                    </div>
                </div>

                <hr>

                <form method="post" accept-charset="UTF-8">
                    <input type="hidden" name="id" value="{{ post.id }}">
                    {{ getCsrfInput() }}

                    <input type="button" class="btn small formsubmit submit" value="Re-post" data-action="socialPoster/posts/repost" data-confirm="{{ 'Are you sure you want to re-post this post to {p}?' | t({ p: provider.name }) }}">
                </form>
            </div>

            <div class="pane lightpane meta">
                <div class="data">
                    <h5 class="heading">{{ "Date Created" | t }}</h5>
                    <div class="value">{{ post.dateCreated.localeDate() }} {{ post.dateCreated.localeTime() }}</div>
                </div>

                <div class="data">
                    <h5 class="heading">{{ "Date Updated" | t }}</h5>
                    <div class="value">{{ post.dateUpdated.localeDate() }} {{ post.dateCreated.localeTime() }}</div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
