{% extends 'social-poster/_layouts' %}
{% import '_includes/forms' as forms %}

{% set crumbs = [
    { label: craft.socialPoster.getPluginName() | t('social-poster'), url: url('social-poster') },
    { label: 'Posts' | t('social-poster'), url: url('social-poster/posts') }
] %}

{% set account = post.getAccount() %}

{% set title = account.name ~ ' post on ' ~ post.dateCreated | date('short') ~ ' ' ~ post.dateCreated | time('short') %}
{% set selectedSubnavItem = 'posts' %}

{% block content %}

<div id="account-settings">
    <h5>{{ 'Payload Sent' | t('social-poster') }}</h5>
    <pre class="sp-codeblock">{{ post.settings | json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>

    <hr>

    {% set responseUrl = account.getResponseUrl(post.data) %}

    {% if responseUrl %}
        <h5>{{ 'Provider Post URL' | t('social-poster') }}</h5>
        <a class="go" href="{{ responseUrl }}" target="_blank">{{ responseUrl }}</a>
        <hr>
    {% endif %}

    <h5>{{ 'Provider API Response' | t('social-poster') }}</h5>
    <pre class="sp-codeblock">{{ post.response | json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>

    <h5>{{ 'Provider Post Response' | t('social-poster') }}</h5>
    <pre class="sp-codeblock">{{ post.data | json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
</div>

{% endblock %}

{% block details %}

<div class="meta">
    <div class="field">
        <div class="heading">
            <label>{{ 'Element' | t('social-poster') }}</label>
        </div>

        <div class="input ltr">
            {% include '_elements/element' with { element: post.owner } %}
        </div>
    </div>

    <div class="field">
        <div class="heading">
            <label>{{ 'Account' | t('social-poster') }}</label>
        </div>

        <div class="input ltr">
            {% set icon = '' %}

            {% if account.icon %}
                {% set icon = '<span class="sp-provider-icon">' ~  account.icon ~ '</span>' %}
            {% endif %}

            <div class="sp-provider" style="--bg-color: {{ account.primaryColor }}">
                {{ icon | raw }}
                <span class="sp-provider-label">{{ account.name }}</span>
            </div>
        </div>
    </div>

    <div class="field" id="">
        <div class="heading">
            <label>{{ 'Status' | t('social-poster') }}</label>
        </div>

        <div class="input ltr">
            {% if post.success %}
                <span class="status on"></span> {{ post.response.reasonPhrase | default('Success') }}
            {% else %}
                <span class="status off"></span> {{ post.response.reasonPhrase | default('Error') }}
            {% endif %}
        </div>
    </div>

    <div class="field" id="">
        <div class="heading">
            <label>{{ 'Re-post' | t('social-poster') }}</label>
        </div>

        <div class="input ltr">
            <a class="btn small formsubmit submit" data-action="social-poster/posts/repost" data-param="id" data-value="{{ post.id }}" data-confirm="{{ 'Are you sure you want to re-post this post to {p}?' | t('social-poster', { p: account.providerName }) }}" data-redirect="{{ (post.getCpEditUrl()) | hash }}">{{ 'Re-post' | t('social-poster') }}</a>
        </div>
    </div>

    
</div>

<hr>

<div class="meta read-only">
    {% if post.id %}
        <div class="data">
            <h5 class="heading">{{ 'ID' | t('social-poster') }}</h5>
            <div class="value">{{ post.id }}</div>
        </div>
    {% endif %}

    <div class="data">
        <h5 class="heading">{{ 'Date Created' | t('wishlist') }}</h5>
        <div class="value">{{ post.dateCreated | date('short') }} {{ post.dateCreated | time('short') }}</div>
    </div>

    <div class="data">
        <h5 class="heading">{{ 'Date Updated' | t('wishlist') }}</h5>
        <div class="value">{{ post.dateUpdated | date('short') }} {{ post.dateUpdated | time('short') }}</div>
    </div>
</div>

{% endblock %}
