{% do view.registerAssetBundle('verbb\\socialposter\\assetbundles\\SocialPosterAsset') %}

{% import '_includes/forms' as forms %}

<div class="sp-sidebar content-pane">
    <div class="sp-pane-header pane-header">
        <div class="sp-pane-tabs pane-tabs">
            <div class="scrollable" role="tablist" aria-label="Primary fields">
                {% for account in accounts %}
                    {% set previousPost = posts[account.handle] ?? false %}
                    {% set autoPost = (account.autoPost and not previousPost) ? true : false %}

                    <a id="tab-spa-{{ account.handle }}" class="{{ (loop.first) ? 'sel' : '' }}" href="#spa-{{ account.handle }}" tabindex="-1" role="tab" data-id="spa-{{ account.handle }}" aria-controls="spa-{{ account.handle }}" aria-selected="false">
                        <span class="tab-label">
                            {% if autoPost %}
                                <span class="status on"></span>
                            {% else %}
                                {% if previousPost and not previousPost.success %}
                                    <span class="status off"></span>
                                {% else %}
                                    <span class="status"></span>
                                {% endif %}
                            {% endif %}

                            {{ account.name }}
                        </span>
                    </a>
                {% endfor %}
            </div>

            <button type="button" class="btn menubtn hidden" title="List all tabs" aria-label="List all tabs"></button>
            <div class="menu">
                <ul class="padded" role="listbox">
                    {% for account in accounts %}
                        <li>
                            <a href="#spa-{{ account.handle }}" data-id="spa-{{ account.handle }}">
                                {{ account.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="sp-pane-content">
        {% for account in accounts %}
            {% set previousPost = posts[account.handle] ?? false %}
            {% set autoPost = (account.autoPost and not previousPost) ? true : false %}

            <div id="spa-{{ account.handle }}" class="{{ not loop.first ? 'hidden' }}" data-id="spa-{{ account.handle }}" role="tabpanel" aria-labelledby="tab-spa-{{ account.handle }}">
                {% namespace 'socialPoster[' ~ account.handle ~ ']' %}
                    {% if previousPost %}
                        {% if previousPost.success %}
                            <div class="field">
                                <span class="warning">
                                    {{ 'This entry was posted to {name} on {date}' | t('social-poster', { name: account.providerName, date: previousPost.dateCreated | date('jS M Y g:ia') }) }}. <a class="sp-expand-pane" data-id="{{ account.handle }}" href="#">{{ 'Post again?' | t('social-poster') }}</a>
                                </span>
                            </div>
                        {% else %}
                            <div class="field">
                                <span class="error">
                                    {{ 'Could not post to {name}. Error: {resp}' | t('social-poster', { name: account.providerName, resp: previousPost.response | json_encode }) }}. <div><a class="sp-expand-pane" data-id="{{ account.handle }}" href="#">{{ 'Post again?' | t('social-poster') }}</a></div>
                                </span>
                            </div>
                        {% endif %}
                    {% endif %}

                    {% if not account.token %}
                        <div class="field">
                            <span class="error">
                                {{ 'Connect provider first via' | t('social-poster') }} <a href="{{ url('social-poster/accounts/' ~ account.handle) }}">{{ 'settings' | t('social-poster') }}</a>
                            </span>
                        </div>
                    {% else %}
                        <div class="sp-fields {{ (previousPost) ? 'hidden' : '' }}">
                            {{ account.getInputHtml(_context) | raw }} 

                            <div class="field">
                                <span class="info-item">
                                    {{ 'To publish this post to {name}, save this entry.' | t('social-poster', { name: account.providerName }) }}
                                </span>
                            </div>
                        </div>
                    {% endif %}
                {% endnamespace %}
            </div>
        {% endfor %}
    </div>
</div>

{% js %}

$(function() {
    $('.sp-pane-content .lightswitch').on('change', function() {
        var id = $(this).parents('[role="tabpanel"]').data('id');

        if ($(this).hasClass('on')) {
            $('.sp-pane-tabs a[href="#' + id + '"] .status').addClass('on');
        } else {
            $('.sp-pane-tabs a[href="#' + id + '"] .status').removeClass('on');
        }
    });

    $('.sp-expand-pane').on('click', function(e) {
        e.preventDefault();

        var account = $(this).data('id');

        // Remove any errors
        $(this).parents('.error').parent().remove();

        // Remove any error on tab
        $('.sp-pane-tabs a[href="#spa-' + account + '"] .status').removeClass('off');

        // Remove post again anchor
        $(this).remove();

        $('[data-id="spa-' + account + '"] .sp-fields').removeClass('hidden');
    });

    const tabManager = new Craft.Tabs($('.sp-sidebar .sp-pane-tabs'));

    tabManager.on('deselectTab', (ev) => {
        $(ev.$tab.attr('href')).addClass('hidden');
    });

    tabManager.on('selectTab', (ev) => {
        $(ev.$tab.attr('href')).removeClass('hidden');
        Garnish.$win.trigger('resize');
    });
});

{% endjs %}
