{% macro field(config, input) %}
    {% import '_includes/forms' as forms %}

    {% set random = random() %}

    <div class="field" id="{{ random }}">
        <div class="heading">
            <label class="sp-field-heading" for="{{ config.id }}">
                <div class="sp-field-heading-label">{{ config.label }}</div>

                <div class="sp-field-heading-checkbox">
                    {{ forms.lightswitchField({
                        id: config.id,
                        label: 'Show in widget?' | t('social-poster'),
                        on: config.checked,
                        name: config.name,
                        small: true,
                    }) }}
                </div>
            </label>

            <div class="instructions">
                {{ config.instructions }}
            </div>
        </div>

        <div class="input ltr">
            {{ forms.field([], input) }}
        </div>
    </div>

{% endmacro %}





