

/* ==========================================================================
// Settings checkbox-in-field-heading
// ========================================================================== */

.sp-field-heading-checkbox .checkboxfield {
    display: inline;
    margin-left: 10px;
}

.sp-field-heading-checkbox .checkboxfield label {
    font-size: 11px;
    font-weight: normal;
    color: #8f98a3;
}

.sp-field-heading-checkbox .checkboxfield label:before {
    color: #29323d;
    top: 0px;
}


/* ==========================================================================
// Entry Sidebar
// ========================================================================== */

.social-poster-pane .tab .status {
    margin-right: 3px;
    width: 7px;
    height: 7px;
}

.social-poster-pane .tabs .tab {
    padding: 10px 20px;
}

.providerSettings-imageField {
   /* margin-top: -20px;*/
}

.field > .info-item {
    line-height: 1.4;
    color: #8f98a3;
}

.field > .info-item,
.field > .error {
    margin: 4px 0 0;
    font-size: 11px;
}

body.ltr .field > .info-item:before,
body.ltr .field > .error:before {
    margin: -2px 2px 0 0;
}

.field > .info-item:before,
.field > .error:before {
    font-family: 'Craft';
    speak: none;
    -webkit-font-feature-settings: "liga", "dlig";
    -moz-font-feature-settings: "liga=1, dlig=1";
    -moz-font-feature-settings: "liga", "dlig";
    -ms-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
    text-rendering: optimizeLegibility;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    text-align: center;
    font-style: normal;
    vertical-align: middle;
    word-wrap: normal !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.field > .error:before {
    content: 'error';
}

.field > .info-item:before {
    content: 'info';
}



/* ==========================================================================
// Plugin Footer
// ========================================================================== */

#plugin-footer {
    margin: 24px 0 0 0;
    width: 100%;
}

#plugin-footer .footer-left {
    float: left;
}

#plugin-footer .footer-right {
    float: right;
}

#plugin-footer .plugin-credit {
    font-size: 11px;
    color: #8f98a3;
    text-align: right;
    margin-top: 10px;
}