{% extends parentLayout | default("_layouts/cp") %}

{% import "_includes/forms" as forms %}

{% includeCssResource 'socialposter/css/SocialPoster.css' %}

{% set tabs = (tabs is defined) ? tabs : {
    accounts: { label: "Accounts" | t, url: url('socialposter/accounts') },
    settings: { label: "Settings" | t, url: url('socialposter/settings') },
} %}

{% set title = (title is defined) ? title : 'Social Poster ' ~ tabs[selectedTab].label %}

{% set content %}
    {% block blockContent %}

    {% endblock %}

    <hr>
    
    <div id="plugin-footer">
        <div class="footer-right">
            <div class="plugin-credit">
                <p>{{ craft.socialPoster.getPluginName }} {{ craft.socialPoster.getPluginVersion }} &bull; <a href="{{ craft.socialPoster.getPluginUrl }}" target="_blank">GitHub</a></p>
            </div>
        </div>
    </div>
{% endset %}
