{% extends "socialposter/_layouts" %}

{% set crumbs = [
    { label: "Social Poster" | t, url: url('socialposter') },
    { label: "Accounts" | t, url: url('socialposter/accounts') },
] %}

{% set tabs = null %}
{% set selectedTab = 'accounts' %}
{% set fullPageForm = true %}

{% set oauthProvider = provider.oauthProvider %}
{% set title = oauthProvider.name %}

{% block saveButton %}
    <div class="buttons">
        <input type="submit" class="btn submit" value="{{ 'Save' | t }}">
    </div>
{% endblock %}

{% block blockContent %}

<input type="hidden" name="action" value="socialPoster/accounts/save">
<input type="hidden" name="redirect" value="socialposter/accounts">
<input type="hidden" name="handle" value="{{ oauthProvider.handle }}">

<h2 class="first">{{ "OAuth Status" | t }}</h2>

<p>
    {% if oauthProvider.isConfigured %}
        <span class="status on"></span>{{ "Provider Configured" | t }}&nbsp;
        <a class="btn small" href="{{ url('oauth/providers/' ~ oauthProvider.handle) }}">Settings</a>
    {% else %}
        <span class="status"></span><span class="light">{{ "Provider not configured" | t }}</span>&nbsp;
        <a class="btn submit small" href="{{ url('oauth/providers/' ~ oauthProvider.handle) }}">Settings</a>
    {% endif %}
</p>

<p>
    {% if account and account.token %}
        <span class="status on"></span>{{ "Connected" | t }}&nbsp;
        <a class="btn small" href="{{ actionUrl('socialPoster/accounts/disconnect', { handle: account.handle }) }}">Disconnect</a>
    {% else %}
        <span class="status"></span><span class="light">{{ "Not Connected" | t }}</span>&nbsp;
        <a class="btn submit small" href="{{ actionUrl('socialPoster/accounts/connect', { handle: oauthProvider.handle }) }}">Connect</a>
    {% endif %}
</p>

<hr>

<h2>{{ "Default settings for posts to " ~ oauthProvider.name | t }}</h2>

{% set providerSettings = account.providerSettings[provider.handle] | default([]) %}

{% set defaultMessage = "A new post \"{title}\" has been published on our website via {url}." | t %}

{% namespace 'providerSettings[' ~ provider.handle ~ ']' %}

{{ forms.lightswitchField({
    label: 'Enabled by default' | t,
    instructions: 'Should entries be set to post to {p} by default?' | t({ p: oauthProvider.name }),
    id: 'enabled',
    name: 'enabled',
    on: providerSettings.enabled | default(''),
}) }}

{{ forms.textareaField({
    label: 'Message' | t,
    instructions: 'Text for your post. May include any Twig variables for fields in this entry - eg {title}, {customField}, etc.' | t,
    id: 'message',
    name: 'message',
    rows: 4,
    value: providerSettings.message | default(defaultMessage),
}) }}

{#{{ forms.field({
    label: 'Image for Post' | t,
    instructions: 'Select an image for this post. If not specified, {p} will grab the first image on your page.' | t({ p: oauthProvider.name }),
},

forms.elementSelect({
    id: 'image',
    name: 'image',
    elementType: craft.elements.getElementType('Asset'),
    jsClass: 'Craft.AssetSelectInput',
    addButtonLabel: 'Select Image',
    limit: 1,
    criteria: { "localeEnabled" : null },
    value: providerSettings.image | default(''),
})) }}#}

{{ forms.selectField({
    label: 'Image Field for Post' | t,
    instructions: 'Enter the field handle to be used to fetch the image for this post - eg {featuredImage}' | t,
    id: 'imageField',
    name: 'imageField',
    options: craft.socialPoster.getAssetFieldOptions(),
    value: providerSettings.imageField | default(''),
}) }}

{% endnamespace %}

{% endblock %}
