{% extends "socialposter/_layouts" %}

{% set crumbs = [
    { label: "Social Poster" | t, url: url('socialposter') },
    { label: "Accounts" | t, url: url('socialposter/accounts') },
] %}

{% set selectedTab = 'accounts' %}

{% block blockContent %}
    
<table id="fields" class="data fullwidth collapsible">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">{{ "Name" | t }}</th>
            <th scope="col">{{ "Enabled" | t }}</th>
            <th scope="col">{{ "Auto-Post" | t }}</th>
            <th scope="col">{{ "OAuth Status" | t }}</th>
            <th scope="col">{{ "OAuth Settings" | t }}</th>
        </tr>
    </thead>

    <tbody>
        {% for provider in providers %}
            {% set account = null %}
            {% set providerSettings = null %}

            {% for item in accounts %}
                {% if provider.handle == item.handle %}
                    {% set account = item %}

                    {% if item.providerSettings %}
                        {% set providerSettings = item.providerSettings[provider.handle] %}
                    {% endif %}
                {% endif %}
            {% endfor %}

            <tr>
                <td class="thin">
                    {% if provider.iconUrl %}
                        <img src="{{ provider.iconUrl }}" height="24" />
                    {% endif %}
                </td>

                <th>
                    {% if provider.oauthProvider.isConfigured %}
                        <a href="{{ url('socialposter/accounts/' ~ provider.handle) }}">{{ provider.name }}</a>
                    {% else %}
                        {{ provider.name }}
                    {% endif %}
                </th>

                <td class="light">
                    {% if account and providerSettings %}
                        {% if providerSettings.enabled is defined and providerSettings.enabled %}
                            <span class="status on"></span> {{ "Enabled" | t }}
                        {% else %}
                            <span class="status"></span> {{ "Disabled" | t }}
                        {% endif %}
                    {% else %}
                        <span class="status"></span> {{ "Disabled" | t }}
                    {% endif %}
                </td>

                <td class="light">
                    {% if account and providerSettings %}
                        {% if providerSettings.autoPost is defined and providerSettings.autoPost %}
                            <span class="status on"></span> {{ "Enabled" | t }}
                        {% else %}
                            <span class="status"></span> {{ "Disabled" | t }}
                        {% endif %}
                    {% else %}
                        <span class="status"></span> {{ "Disabled" | t }}
                    {% endif %}
                </td>

                <td class="nowrap light">
                    {% if provider.oauthProvider.isConfigured %}
                        {% if account and account.token %}
                            <span class="status on"></span> {{ "Connected" | t }}
                        {% else %}
                            <span class="status"></span> {{ "Not connected" | t }}
                        {% endif %}
                    {% else %}
                        <span class="status"></span> {{ "OAuth provider not configured" | t }}
                    {% endif %}
                </td>

                <td class="thin light">
                    <a href="{{ url('oauth/providers/' ~ provider.oauthProvider.handle) }}" title="{{ 'OAuth Settings' | t }}" data-icon="settings"></a>
                </td>
            </tr>

        {% endfor %}
    </tbody>
</table>

{% endblock %}
