{% extends 'social-poster/_layouts' %}
{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% set crumbs = [
    { label: craft.socialPoster.getPluginName() | t('social-poster'), url: url('social-poster') },
    { label: 'Accounts' | t('social-poster'), url: url('social-poster/accounts') }
] %}

{% set fullPageForm = true %}
{% set selectedSubnavItem = 'accounts' %}

{% set saveShortcutRedirect = 'social-poster/accounts/{handle}' %}

{% block actionButton %}

<div class="btngroup">
    <input type="submit" class="btn submit" value="{{ 'Save' | t('app') }}">

    <div class="btn submit menubtn"></div>
    <div class="menu">
        <ul>
            <li>
                <a class="formsubmit" data-redirect="{{ saveShortcutRedirect | hash }}">
                    {{ forms.optionShortcutLabel('S') }}
                    {{ 'Save and continue editing' | t('app') }}
                </a>
            </li>
        </ul>

        <hr>
        <ul>
            <li><a class="formsubmit error" data-action="social-poster/accounts/delete" data-confirm="{{ 'Are you sure you want to delete this account?' | t('social-poster') }}" data-redirect="{{ 'social-poster/accounts#' | hash }}">{{ 'Delete' | t('app') }}</a></li>
        </ul>
    </div>
</div>

{% endblock %}

{% set tabs = {
    account: { label: 'Account' | t('social-poster'), url: '#account' },
    provider: { label: 'Provider' | t('social-poster'), url: '#provider' },
    post: { label: 'Post' | t('social-poster'), url: '#post' },
} %}

{% block content %}

{# Show an error when connecting to OAuth, instead of just in logs #}
{% set message = craft.app.session.getFlash('social-poster:callback-error') %}

{% if message %}
    <div class="sp-pane sp-pane-error code error" style="margin-bottom: 24px;">{{ message }}</div>
{% endif %}

<input type="hidden" name="action" value="social-poster/accounts/save">
{% if account.id %}<input type="hidden" name="accountId" value="{{ account.id }}">{% endif %}
{{ redirectInput('social-poster/accounts') }}

<div id="account">
    {{ forms.textField({
        first: true,
        label: 'Name' | t('app'),
        instructions: 'What this account will be called in the control panel.' | t('social-poster'),
        id: 'name',
        name: 'name',
        value: (account is defined ? account.name : null),
        errors: (account is defined ? account.getErrors('name') : null),
        autofocus: true,
        required: true,
    }) }}

    {{ forms.textField({
        label: 'Handle' | t('app'),
        instructions: 'How you’ll refer to this account in your templates.' | t('social-poster'),
        id: 'handle',
        name: 'handle',
        class: 'code',
        value: (account is defined ? account.handle : null),
        errors: (account is defined ? account.getErrors('handle') : null),
        required: true,
    }) }}
</div>

<div id="provider" class="hidden">
    {% for accountType in accountTypes %}
        {% set isCurrent = (accountType == className(account)) %}

        <div class="account-settings-{{ accountType | id }} {% if not isCurrent %}hidden{% endif %}">
            {% namespace 'types[' ~ accountType ~ ']' %}
                {% if isCurrent %}
                    {{ account.getSettingsHtml() | raw }}
                {% else %}
                    {{ accountInstances[accountType].getSettingsHtml() | raw }}
                {% endif %}
            {% endnamespace %}
        </div>
    {% endfor %}
</div>

<div id="post" class="hidden">
    {% for accountType in accountTypes %}
        {% set isCurrent = (accountType == className(account)) %}

        <div class="account-settings-{{ accountType | id }} {% if not isCurrent %}hidden{% endif %}">
            {% namespace 'types[' ~ accountType ~ ']' %}
                {% if isCurrent %}
                    {{ account.getPostSettingsHtml() | raw }}
                {% else %}
                    {{ accountInstances[accountType].getPostSettingsHtml() | raw }}
                {% endif %}
            {% endnamespace %}
        </div>
    {% endfor %}
</div>

{% endblock %}

{% block details %}

<div class="meta">
    {% if accountOptions | length %}
        {{ forms.selectField({
            label: 'Provider' | t('social-poster'),
            name: 'type',
            options: accountOptions,
            value: className(account),
            toggle: true,
            targetPrefix: '.account-settings-',
            required: true,
        }) }}
    {% endif %}

    {{ forms.lightswitchField({
        label: 'Enabled' | t('social-poster'),
        name: 'enabled',
        on: account.enabled,
    }) }}

    {{ forms.lightswitchField({
        label: 'Auto-Post' | t('social-poster'),
        name: 'autoPost',
        on: account.autoPost,
    }) }}

    <div class="field lightswitch-field">
        {% if account.isConfigured %}
            <div class="heading">
                <span class="status on"></span>{{ 'Provider Configured' | t('social-poster') }}
            </div>
        {% else %}
            <div class="heading">
                <span class="status"></span><span class="light">{{ 'Provider not configured' | t('social-poster') }}</span>
            </div>
        {% endif %}
    </div>

    {% if account.isConnected %}
        <div class="field lightswitch-field sp-connect">
            <div class="heading">
                <span class="status on"></span>{{ 'Connected' | t('social-poster') }}
            </div>

            <div class="input ltr">
                <a class="btn small formsubmit" data-action="social-poster/auth/disconnect" data-param="account" data-value="{{ account.handle }}" data-redirect="{{ saveShortcutRedirect | hash }}">{{ 'Disconnect' | t('social-poster') }}</a>
            </div>
        </div>
    {% else %}
        <div class="field lightswitch-field sp-connect">
            <div class="heading">
                <span class="status"></span><span class="light">{{ 'Not Connected' | t('social-poster') }}</span>
            </div>

            <div class="input ltr">
                <a class="btn small formsubmit" data-action="social-poster/auth/connect" data-param="account" data-value="{{ account.handle }}" data-redirect="{{ 'social-poster/accounts/' ~ account.handle | hash }}">{{ 'Connect' | t('social-poster') }}</a>
            </div>
        </div>
    {% endif %}
</div>

<hr>

{% if account.id %}
    <div class="meta read-only">
        {% if account.id %}
            <div class="data">
                <h5 class="heading">{{ 'ID' | t('social-poster') }}</h5>
                <div class="value">{{ account.id }}</div>
            </div>
        {% endif %}

        <div class="data">
            <h5 class="heading">{{ 'Date Created' | t('social-poster') }}</h5>
            <div class="value">{{ account.dateCreated | date('short') }} {{ account.dateCreated | time('short') }}</div>
        </div>

        <div class="data">
            <h5 class="heading">{{ 'Date Updated' | t('social-poster') }}</h5>
            <div class="value">{{ account.dateUpdated | date('short') }} {{ account.dateUpdated | time('short') }}</div>
        </div>
    </div>
{% endif %}

{% endblock %}

{% js %}

// Add event listeners to all form inputs, to detect a change. Show a message to save when changed.
$(document).ready(function() {
    var html = '<div class="heading"><span class="warning with-icon">{{ 'Save this account to connect.' | t('social-poster') }}</span></div>';
    
    $('#main-form').find('input, select, textarea').on('input', function() {
        $('.sp-connect').html(html);
    });

    $('#main-form').find('.lightswitch').on('change', function() {
        $('.sp-connect').html(html);
    });
});

{% if account is not defined or not account.handle %}
    new Craft.HandleGenerator("#{{ 'name' | namespaceInputId }}", "#{{ 'handle' | namespaceInputId }}");

    $('#main-form input').trigger('input');
{% endif %}

{% endjs %}

