{% extends 'social-poster/_layouts' %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}

{% set crumbs = [
    { label: craft.socialPoster.getPluginName() | t('social-poster'), url: url('social-poster') },
    { label: 'Accounts' | t('social-poster'), url: url('social-poster/accounts') }
] %}

{% set selectedSubnavItem = 'accounts' %}

{% block actionButton %}
    <a class="btn submit add icon" href="{{ url('social-poster/accounts/new') }}">{{ 'New account' | t('social-poster') }}</a>
{% endblock %}

{% block blockContent %}

<div id="accounts-vue-admin-table"></div>

{% endblock %}

{% set tableData = [] %}

{% for account in accounts %}
    {% set tableData = tableData | merge([{
        id: account.id,
        title: account.name | t('site'),
        url: url('social-poster/accounts/' ~ account.handle),
        handle: account.handle,
        enabled: account.enabled,
        autoPost: account.autoPost,
        connected: account.connected,
        provider: { name: account.providerName | t('site') | e, icon: account.icon, color: account.primaryColor },
    }]) %}
{% endfor %}

{% js %}
    var columns = [
        { name: '__slot:title', title: Craft.t('app', 'Name') },
        { name: '__slot:handle', title: Craft.t('app', 'Handle') },
        { name: 'enabled', title: Craft.t('app', 'Status'), callback: function(value) {
            if (value) {
                return '<span class="status on"></span>' + Craft.t('social-poster', 'Enabled');
            } else {
                return '<span class="status"></span>' + Craft.t('social-poster', 'Disabled');
            }
        } },
        { name: 'autoPost', title: Craft.t('app', 'Auto-Post'), callback: function(value) {
            if (value) {
                return '<span class="status on"></span>' + Craft.t('social-poster', 'Enabled');
            } else {
                return '<span class="status"></span>' + Craft.t('social-poster', 'Disabled');
            }
        } },
        { name: 'connected', title: Craft.t('app', 'Connected'), callback: function(value) {
            if (value) {
                return '<span class="status on"></span>' + Craft.t('social-poster', 'Connected');
            } else {
                return '<span class="status"></span>' + Craft.t('social-poster', 'Disconnected');
            }
        } },
        { name: 'provider', title: Craft.t('app', 'Name'), callback: function(provider) {
            let $icon = '';

            if (!provider) {
                return '';
            }

            if (provider.icon) {
                $icon = '<span class="sp-provider-icon">' + provider.icon + '</span>';
            }

            return '<div class="sp-provider" style="--bg-color: ' + provider.color + '">' +
                $icon +
                '<span class="sp-provider-label">' + provider.name + '</span>' +
            '</div>';
        } },
    ];

    new Craft.VueAdminTable({
        columns: columns,
        container: '#accounts-vue-admin-table',
        reorderAction: 'social-poster/accounts/reorder',
        deleteAction: 'social-poster/accounts/delete',
        emptyMessage: Craft.t('social-poster', 'No accounts exist yet.'),
        tableData: {{ tableData | json_encode | raw }},
    });
{% endjs %}
