{% import '_includes/forms' as forms %}

{% if not static is defined %}
    {{ forms.lightswitchField({
        label: 'Post to {p}' | t('social-poster', { p: provider.name }),
        instructions: 'Do you wish to post this entry to {p}?' | t('social-poster', { p: provider.name }),
        id: 'autoPost',
        name: 'autoPost',
        on: autoPost,
    }) }}
{% endif %}

{% if providerSettings.showMessage is defined and providerSettings.showMessage %}
    {{ forms.textareaField({
        label: 'Message' | t('social-poster'),
        instructions: 'Text for your post. May include any Twig variables for fields in this entry - eg {title}, {customField}, etc.' | t('social-poster'),
        placeholder: 'Enter text here to be displayed as your post to social media.' | t('social-poster'),
        id: 'message',
        name: 'message',
        rows: 4,
        value: providerSettings.message,
        showCharsLeft: (provider.handle == 'twitter'),
        maxlength: (provider.handle == 'twitter') ? '140' : '',
        disabled: static is defined,
        class: static is defined ? 'disabled',
    }) }}
{% endif %}