{% import '_includes/forms' as forms %}
{% import 'social-poster/_includes/settings-field' as settingsField %}

{% set settings = provider.account.settings %}

{% set defaultMessage = 'A new post "{title}" has been published on our website via {url}.' | t('social-poster') %}

{{ settingsField.field({
        label: 'Message' | t('social-poster'),
        instructions: 'Text for your post. May include any Twig variables for fields in this entry - eg {title}, {customField}, etc.' | t('social-poster'),
        id: 'showMessage',
        name: 'showMessage',
        value: true,
        checked: settings.showMessage ?? true,
    }, 
    forms.textareaField({
        id: 'message',
        name: 'message',
        rows: 4,
        value: settings.message | default(defaultMessage),
    })
) }}
