{% import '_includes/forms' as forms %}

{% if not static is defined %}
    {{ forms.lightswitchField({
        label: 'Post to {p}' | t('social-poster', { p: provider.name }),
        instructions: 'Do you wish to post this entry to {p}?' | t('social-poster', { p: provider.name }),
        id: 'autoPost',
        name: 'autoPost',
        on: autoPost,
    }) }}
{% endif %}

{% if providerSettings.showEndpoint is defined and providerSettings.showEndpoint %}
    {{ forms.selectField({
        label: '{p} Post Type' | t('social-poster', { p: provider.name }),
        instructions: 'Select where you\'d like this post to be posted to. This can be a {p} person or a {p} organization.' | t('social-poster', { p: provider.name }),
        id: 'endpoint',
        name: 'endpoint',
        options: [
            { label: 'Person' | t('social-poster'), value: 'person' },
            { label: 'Organization' | t('social-poster'), value: 'organization' },
        ],
        value: providerSettings.endpoint,
        disabled: static is defined,
        class: static is defined ? 'disabled',
    }) }}
{% endif %}

{% if providerSettings.showTitle is defined and providerSettings.showTitle %}
    {{ forms.textField({
        label: 'Title' | t('social-poster'),
        instructions: 'Enter the Title to appear on this post. This is the bold text shown at the top of the post. May include any Twig variables for fields in this entry - eg {title}, {customField}, etc.' | t('social-poster'),
        id: 'title',
        name: 'title',
        value: providerSettings.title,
        disabled: static is defined,
        class: static is defined ? 'disabled',
    }) }}
{% endif %}

{% if providerSettings.showUrl is defined and providerSettings.showUrl %}
    {{ forms.textField({
        label: 'URL' | t('social-poster'),
        instructions: 'Enter the URL to appear on this post. This is a small link at the bottom of your post. May include any Twig variables for fields in this entry - eg {url}, etc.' | t('social-poster'),
        id: 'url',
        name: 'url',
        value: providerSettings.url,
        disabled: static is defined,
        class: static is defined ? 'disabled',
    }) }}
{% endif %}

{% if providerSettings.showMessage is defined and providerSettings.showMessage %}
    {{ forms.textareaField({
        label: 'Message' | t('social-poster'),
        instructions: 'Text for your post. May include any Twig variables for fields in this entry - eg {title}, {customField}, etc.' | t('social-poster'),
        placeholder: 'Enter text here to be displayed as your post to social media.' | t('social-poster'),
        id: 'message',
        name: 'message',
        rows: 4,
        value: providerSettings.message,
        showCharsLeft: (provider.handle == 'twitter'),
        maxlength: (provider.handle == 'twitter') ? '140' : '',
        disabled: static is defined,
        class: static is defined ? 'disabled',
    }) }}
{% endif %}

{% if providerSettings.imageField is defined %}
    {% set imageField = providerSettings.imageField | replace({ '{': '' , '}': '' }) %}
{% endif %}

{% if not static is defined %}
    {% if providerSettings.showImageField is defined and providerSettings.showImageField %}
        <div class="providerSettings-imageField">
            {{ forms.selectField({
                label: 'Image for Post' | t('social-poster'),
                instructions: 'Select an image for this post. If not specified, {p} will grab the first image on your page.' | t('social-poster', { p: provider.name }),
                id: 'imageField',
                name: 'imageField',
                options: craft.socialPoster.getAssetFieldOptions(entry),
                value: imageField,
                disabled: static is defined,
                class: static is defined ? 'disabled',
            }) }}
        </div>
    {% endif %}
{% endif %}

